<div class="col-sm-3">

<section class="panel panel-info"> <div class="panel-body"> <a href="#" class="thumb pull-right m-l m-t-xs avatar"> <img src="http://www.gravatar.com/avatar/217e007d289c8f24103b26685341e716?s=48&amp;d=identicon&amp;r=g"> <i class="on md b-white bottom"></i> </a> <div class="clear"> <a href="#" class="text-info"><%= name %>  <i class="icon-twitter"></i></a> <small class="block text-muted"> <%email%></small> <a href="#"><%=id%></a>
<a href="#" class="btn btn-xs btn-success m-t-xs"></a>
 </div> </div> </section>
</div>

