<section class="hbox stretch">
    <aside class="aside-lg bg-light lter b-r">
        <section class="vbox">
            <div id="locations" style="overflow: hidden"></div>
            <div id="services" style="overflow: hidden"></div>
        </section>
    </aside>
    <aside class="col-md-4 b-l no-padder">
        <section class="vbox">
            <div id="countries" style="overflow: hidden"></div>
            <div id="statusTypes" style="overflow: hidden"></div>
        </section>
    </aside>
</section>
<div>
    <p style="color: orangered; font-size: 1.5em;">All deletes are currently disabled</p>
</div>