<!--<header class="header bg-light lt b-b b-light"><p class="h4 font-thin pull-left m-r m-b-sm">Students</p> <a-->
        <!--class="btn btn-sm btn-info btn-rounded btn-icon"><i class="i i-cloud-upload"></i></a>-->

    <!--<form method="post" class="m-t-sm pull-right pull-none-xs input-s-lg m-b-sm">-->
        <!--<div class="input-group"><input type="text" id="address" name="address" class="input-sm form-control"-->
                                        <!--placeholder="Search"> <span class="input-group-btn"> <button-->
                <!--class="btn btn-sm btn-default" type="submit">Go!-->
        <!--</button> </span></div>-->
    <!--</form>-->
</header>
<section class="scrollable wrapper">
    <div id="profileSection"></div>

    <div id="changePasswordSection"></div>
    <div id="adminSection"></div>
</section>