<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `link` tags, or asynchronously
        on the client using a solution like AMD (RequireJS).  Or, if you like, you can
        take advantage of Sails' boilerplate asset management.

        By default, stylesheets from your `assets/linker/styles` folder are included
        here automatically.  Both CSS (.css) and LESS (.less) are supported.
        In production, your styles will be minified and concatenated into a single file.
        
        To customize any part of the built-in behavior, just edit your Gruntfile.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/app.v1.css">
    <link rel="stylesheet" href="/styles/backbone-modal/backbone.modal.css">
    <link rel="stylesheet" href="/styles/backbone-modal/backbone.modal.theme.css">
    <link rel="stylesheet" href="/styles/bootstrap-datetimepicker/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="/styles/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-editable/bootstrap-editable.css">
    <link rel="stylesheet" href="/styles/bootstrap/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/bootstrap/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/custom.css">
    <link rel="stylesheet" href="/styles/datatables/datatables.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/jasny-bootstrap/jasny-bootstrap.css">
    <link rel="stylesheet" href="/styles/jasny-bootstrap/jasny-bootstrap.min.css">
    <link rel="stylesheet" href="/styles/jgrowl/jquery.jgrowl.css">
    <link rel="stylesheet" href="/styles/jgrowl/jquery.jgrowl.min.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/select2/select2-bootstrap.css">
    <link rel="stylesheet" href="/styles/select2/select2.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

    		HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/linker/templates` folder, then
        include them here automatically.
        
        To customize this behavior to fit your needs, just edit your Gruntfile.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your templates using a server-side stringfile
              before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' boilerplate asset management.

      By default, filesin your `assets/linker/js` folder are included here
      automatically.  Both JavaScript (.js) and CoffeeScript (.coffee) are supported.
      In production, your scripts will be minified and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit your Gruntfile.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/socket.io.js"></script>
    <script src="/js/sails.io.js"></script>
    <script src="/js/connection.example.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/config/app/config_app.js"></script>
    <script src="/js/config/app/consts.js"></script>
    <script src="/js/config/app/templateLoader/templateLoader.js"></script>
    <script src="/js/config/app/utils.js"></script>
    <script src="/js/config/backbone/sync.js"></script>
    <script src="/js/config/marionette/application.js"></script>
    <script src="/js/config/marionette/module.js"></script>
    <script src="/js/config/marionette/renderer.js"></script>
    <script src="/js/lib/backbone-syphon/backbone.syphon.js"></script>
    <script src="/js/lib/backbone-syphon/backbone.syphon.min.js"></script>
    <script src="/js/lib/backbone-validation/backbone-validation-amd-min.js"></script>
    <script src="/js/lib/backbone-validation/backbone-validation-amd.js"></script>
    <script src="/js/lib/backbone/backbone-min.js"></script>
    <script src="/js/lib/backbone/backbone.js"></script>
    <script src="/js/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
    <script src="/js/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/lib/bootstrap-editable/bootstrap-editable.js"></script>
    <script src="/js/lib/bootstrap-editable/bootstrap-editable.min.js"></script>
    <script src="/js/lib/bootstrap/bootstrap.js"></script>
    <script src="/js/lib/bootstrap/bootstrap.min.js"></script>
    <script src="/js/lib/datatables/dataTables.bootstrap.js"></script>
    <script src="/js/lib/datatables/jquery.dataTables.js"></script>
    <script src="/js/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="/js/lib/jasny-bootstrap/jasny-bootstrap.js"></script>
    <script src="/js/lib/jasny-bootstrap/jasny-bootstrap.min.js"></script>
    <script src="/js/lib/jquery-jgrowl/jquery.jgrowl.js"></script>
    <script src="/js/lib/jquery-jgrowl/jquery.jgrowl.min.js"></script>
    <script src="/js/lib/jquery-ui/jquery-ui.js"></script>
    <script src="/js/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="/js/lib/jquery/jquery.js"></script>
    <script src="/js/lib/jquery/jquery.min.js"></script>
    <script src="/js/lib/lodash/lodash.js"></script>
    <script src="/js/lib/marionette/backbone.marionette.js"></script>
    <script src="/js/lib/marionette/backbone.marionette.min.js"></script>
    <script src="/js/lib/moment/moment.min.js"></script>
    <script src="/js/lib/parsley/parsley.min.js"></script>
    <script src="/js/lib/require/require.js"></script>
    <script src="/js/lib/select2/select2.js"></script>
    <script src="/js/lib/select2/select2.min.js"></script>
    <script src="/js/lib/spin/jquery.spin.js"></script>
    <script src="/js/lib/spin/spin.js"></script>
    <script src="/js/lib/spin/spin.min.js"></script>
    <script src="/js/lib/underscore/underscore-min.js"></script>
    <script src="/js/lib/underscore/underscore.js"></script>
    <script src="/js/modules/batches/batches_app.js"></script>
    <script src="/js/modules/batches/batches_controller.js"></script>
    <script src="/js/modules/batches/batches_view.js"></script>
    <script src="/js/modules/batches/list/all/batches_all_app.js"></script>
    <script src="/js/modules/batches/list/all/batches_all_controller.js"></script>
    <script src="/js/modules/batches/list/all/batches_all_view.js"></script>
    <script src="/js/modules/batches/show/batches_show_app.js"></script>
    <script src="/js/modules/batches/show/batches_show_controller.js"></script>
    <script src="/js/modules/batches/show/batches_show_view.js"></script>
    <script src="/js/modules/controllers/base_controller.js"></script>
    <script src="/js/modules/enquiries/content/all/all_app.js"></script>
    <script src="/js/modules/enquiries/content/all/all_controller.js"></script>
    <script src="/js/modules/enquiries/content/all/all_view.js"></script>
    <script src="/js/modules/enquiries/content/closed/closed_app.js"></script>
    <script src="/js/modules/enquiries/content/closed/closed_controller.js"></script>
    <script src="/js/modules/enquiries/content/closed/closed_view.js"></script>
    <script src="/js/modules/enquiries/content/my/my_app.js"></script>
    <script src="/js/modules/enquiries/content/my/my_controller.js"></script>
    <script src="/js/modules/enquiries/content/my/my_view.js"></script>
    <script src="/js/modules/enquiries/enquiries_app.js"></script>
    <script src="/js/modules/enquiries/enquiries_controller.js"></script>
    <script src="/js/modules/enquiries/enquiries_setup.js"></script>
    <script src="/js/modules/enquiries/enquiries_view.js"></script>
    <script src="/js/modules/enquiries/show/show_app.js"></script>
    <script src="/js/modules/enquiries/show/show_controller.js"></script>
    <script src="/js/modules/enquiries/show/show_view.js"></script>
    <script src="/js/modules/entities/base/_utilities.js"></script>
    <script src="/js/modules/entities/base/collections.js"></script>
    <script src="/js/modules/entities/base/models.js"></script>
    <script src="/js/modules/entities/batch.js"></script>
    <script src="/js/modules/entities/comment.js"></script>
    <script src="/js/modules/entities/country.js"></script>
    <script src="/js/modules/entities/education.js"></script>
    <script src="/js/modules/entities/enquiryStatus.js"></script>
    <script src="/js/modules/entities/enroll.js"></script>
    <script src="/js/modules/entities/location.js"></script>
    <script src="/js/modules/entities/payment.js"></script>
    <script src="/js/modules/entities/school.js"></script>
    <script src="/js/modules/entities/service.js"></script>
    <script src="/js/modules/entities/staff.js"></script>
    <script src="/js/modules/entities/topic.js"></script>
    <script src="/js/modules/entities/user.js"></script>
    <script src="/js/modules/footer/footer_app.js"></script>
    <script src="/js/modules/footer/show/show_controller.js"></script>
    <script src="/js/modules/footer/show/show_setup.js"></script>
    <script src="/js/modules/footer/show/show_view.js"></script>
    <script src="/js/modules/header/header_app.js"></script>
    <script src="/js/modules/header/show/show_controller.js"></script>
    <script src="/js/modules/header/show/show_setup.js"></script>
    <script src="/js/modules/header/show/show_view.js"></script>
    <script src="/js/modules/loading/loading_controller.js"></script>
    <script src="/js/modules/loading/loading_view.js"></script>
    <script src="/js/modules/main/main_app.js"></script>
    <script src="/js/modules/payments/payments_app.js"></script>
    <script src="/js/modules/payments/payments_controller.js"></script>
    <script src="/js/modules/payments/payments_setup.js"></script>
    <script src="/js/modules/payments/payments_view.js"></script>
    <script src="/js/modules/profile/counselor/counselor_app.js"></script>
    <script src="/js/modules/profile/counselor/counselor_controller.js"></script>
    <script src="/js/modules/profile/counselor/counselor_view.js"></script>
    <script src="/js/modules/profile/profile_app.js"></script>
    <script src="/js/modules/profile/profile_controller.js"></script>
    <script src="/js/modules/profile/profile_setup.js"></script>
    <script src="/js/modules/profile/profile_view.js"></script>
    <script src="/js/modules/settings/settings_app.js"></script>
    <script src="/js/modules/settings/settings_controller.js"></script>
    <script src="/js/modules/settings/settings_setup.js"></script>
    <script src="/js/modules/settings/settings_view.js"></script>
    <script src="/js/modules/sidebar/list/list_controller.js"></script>
    <script src="/js/modules/sidebar/list/list_setup.js"></script>
    <script src="/js/modules/sidebar/list/list_view.js"></script>
    <script src="/js/modules/sidebar/sidebar_app.js"></script>
    <script src="/js/modules/staff/show/show_app.js"></script>
    <script src="/js/modules/staff/show/show_controller.js"></script>
    <script src="/js/modules/staff/show/show_view.js"></script>
    <script src="/js/modules/staff/staff_app.js"></script>
    <script src="/js/modules/staff/staff_controller.js"></script>
    <script src="/js/modules/staff/staff_setup.js"></script>
    <script src="/js/modules/staff/staff_view.js"></script>
    <script src="/js/modules/student/student_app.js"></script>
    <script src="/js/modules/student/student_controller.js"></script>
    <script src="/js/modules/student/student_setup.js"></script>
    <script src="/js/modules/student/student_view.js"></script>
    <script src="/js/modules/students/show/show_app.js"></script>
    <script src="/js/modules/students/show/show_controller.js"></script>
    <script src="/js/modules/students/show/show_view.js"></script>
    <script src="/js/modules/students/students_app.js"></script>
    <script src="/js/modules/students/students_controller.js"></script>
    <script src="/js/modules/students/students_setup.js"></script>
    <script src="/js/modules/students/students_view.js"></script>
    <script src="/js/modules/topics/list/all/topics_all_app.js"></script>
    <script src="/js/modules/topics/list/all/topics_all_controller.js"></script>
    <script src="/js/modules/topics/list/all/topics_all_view.js"></script>
    <script src="/js/modules/topics/topics_app.js"></script>
    <script src="/js/modules/topics/topics_controller.js"></script>
    <script src="/js/modules/topics/topics_view.js"></script>
    <script src="/js/modules/views/_view.js"></script>
    <script src="/js/modules/views/base/table_views.js"></script>
    <script src="/js/modules/views/collectionview.js"></script>
    <script src="/js/modules/views/compositeview.js"></script>
    <script src="/js/modules/views/itemview.js"></script>
    <script src="/js/modules/views/layout.js"></script>
    <script src="/js/modules/views/region.js"></script>
    <script src="/js/modules/views/utils/utils.js"></script>
    <script src="/js/modules/views/utils/xeditable.js"></script>
    <script src="/js/modules/views/validation/validationMessages.js"></script>
    <script src="/js/theme/app.plugin.js"></script>
    <script src="/js/theme/app.v1.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
