<section class="panel panel-default">
    <header class="panel-heading bg-light no-border">
        <div class="clearfix">
            <a href="#" class="pull-left thumb-md avatar b-3x m-r">
                <img src="http://www.gravatar.com/avatar/217e007d289c8f24103b26685341e716?s=48&amp;d=identicon&amp;r=g">
            </a>

            <div class="clear">
                <div class="h3 m-t-xs m-b-xs">
                    <a href="#" id="firstName"></a>
                    <a href="#" id="lastName"></a>
                    <i class="fa fa-circle text-success pull-right text-xs m-t-sm"></i>
                </div>
                <small class="text-muted"><i class="i i-mail2"> </i> <a href="#" id="email"></a></small>
            </div>
        </div>
    </header>
    <div class="list-group no-radius alt">

        <a class="list-group-item" href="#" id="phoneNumber"> </a>
        <a class="list-group-item" href="#" id="address"> </a>
        <a class="list-group-item" href="#" id="location"> </a>
        <a class="list-group-item" href="#">
            <div class="btn-group btn-toggle" id="statusBtn">
                <button class="btn btn-xs btn-primary active">Active</button>
                <button class="btn btn-xs btn-default">Inactive</button>
            </div>
        </a>

    </div>

    <!--<div class="btn-group btn-toggle" id="statusBtn">-->
        <!--<button class="btn btn-xs btn-primary active">Active</button>-->
        <!--<button class="btn btn-xs btn-default">Inactive</button>-->
    <!--</div>-->

</section>







