
<section class="hbox stretch">
    <aside class="aside-lg bg-light lter b-r">
        <section class="vbox">
            <div id="personal"></div>
            <div id="career"></div>
        </section>
    </aside>
    <aside class="col-md-4 b-l no-padder">
        <section class="vbox">
            <div id="admin"></div>
            <div id="history"></div>
        </section>
    </aside>
</section>

<!--<section style="border: solid 1px; height: 200px" class="vbox">-->
    <!--<section class="scrollable">-->
        <!--<section class="hbox stretch">-->
            <!--<aside class="aside-lg bg-light lter b-r">-->
                <!--<section class="vbox">-->
                    <!--<section class="scrollable">-->
                        <!--&lt;!&ndash;<span>Awesome left region</span>&ndash;&gt;-->
                        <!--<div id="institution"></div>-->
                        <!--<div id="career"></div>-->
                        <!--<div id="academic"></div>-->
                        <!--<div id="personal"></div>-->
                    <!--</section>-->
                <!--</section>-->
            <!--</aside>-->
            <!--<aside class="col-lg-4 b-l no-padder">-->
                <!--<section class="vbox">-->
                    <!--<section class="scrollable">-->
                        <!--<span>Awesome left region</span>-->
                    <!--</section>-->
                <!--</section>-->
            <!--</aside>-->
        <!--</section>-->
    <!--</section>-->
<!--</section>-->