<h3><span>Academic</span></h3>
<div class="row-fluid">
    <div>
            <div class="span6">
                <strong>X Grade: </strong>
                    <span>
                        <a href="#" id="highSchoolScore"></a>
                    </span>
            </div>
            <div class="span6">
                <strong>XII Grade: </strong>
                <span>
                    <a href="#" id="seniorSecondaryScore"></a>
                </span>
            </div>
    </div>

    <div>
            <div class="span6">
                <strong>SAT: </strong>
                <a href="#" id="sat"></a>
            </div>
            <div class="span6">
                <strong>TOEFL: </strong>
                <a href="#" id="toefl"></a>
            </div>
    </div>

    <div>
        <div class="span6">
            <strong>GRE: </strong>
            <a href="#" id="gre"></a>
        </div>
        <div class="span6">
            <strong>GMAT: </strong>
            <a href="#" id="gmat"></a>
        </div>
    </div>

    <div>
            <div class="span6">
                <strong>IELTS: </strong>
                <a href="#" id="ielts"></a>
            </div>
    </div>

</div>
<hr>

<h3>Remarks</h3>
<a href="#" id="remarks"></a>



