<h3>Career</h3>
<div class="row-fluid">
    <div>

            <div class="span6">
                <strong>Country Interested: </strong>
                    <span>
                        <a href="#" id="countryInterested"></a>
                    </span>
            </div>
            <div class="span6">
                <strong>Field Interested: </strong>
                <span>
                    <a href="#" id="fieldInterested"></a>
                </span>
            </div>
    </div>

    <div>
            <div>
                <strong>Program Interested: </strong>
                <a href="#" id="programInterested"></a>
            </div>
    </div>
</div>
<hr>

