<section class="panel panel-default">
    <header class="panel-heading">
        <%=title%>
    </header>
    <div class="table-responsive">
        <table id="dataTable" class="table table-hover table-striped m-b-none dataTable">
            <thead>
                <!--<tr>-->
                    <!--<th>Name</th>-->
                    <!--<th>Phone</th>-->
                <!--</tr>-->
            </thead>
            <tbody data-link="row" class="rowlink"></tbody>
        </table>
    </div>
</section>