<!--<div id="header-region" class="navbar navbar-default navbar-fixed-top"></div>-->
<header class="bg-white header header-md navbar navbar-fixed-top-xs box-shadow" id="header-region"></header>

<section>
    <section class="hbox stretch">
        <aside class="bg-black aside-md hidden-print">
            <section class="vbox">
                <section class="w-f scrollable">
                    <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-color="#333333">
                        <!-- nav -->
                        <nav class="nav-primary hidden-xs" id="sidebar-region">
                            <!--<div class="text-muted text-sm hidden-nav-xs padder m-t-sm m-b-sm">Start</div>-->
                            <!--<ul class="nav nav-main" data-ride="collapse">-->
                                <!--<li class="active"> <a href="index.html" class="auto"> <i class="i i-statistics icon"> </i> <span class="font-bold">Overview</span> </a> </li>-->
                                <!--<li > <a href="#" class="auto"> <span class="pull-right text-muted"> <i class="i i-circle-sm-o text"></i> <i class="i i-circle-sm text-active"></i> </span> <b class="badge bg-danger pull-right">4</b> <i class="i i-stack icon"> </i> <span class="font-bold">Layouts</span> </a>-->
                                <!--</li>-->
                                <!--<li > <a href="#" class="auto"> <span class="pull-right text-muted"> <i class="i i-circle-sm-o text"></i> <i class="i i-circle-sm text-active"></i> </span> <i class="i i-lab icon"> </i> <span class="font-bold">UI kit</span> </a>-->
                                <!--</li>-->
                                <!--<li > <a href="#" class="auto"> <span class="pull-right text-muted"> <i class="i i-circle-sm-o text"></i> <i class="i i-circle-sm text-active"></i> </span> <i class="i i-grid2 icon"> </i> <span class="font-bold">Apps</span> </a>-->
                                <!--</li>-->
                            <!--</ul>-->
                            <!--<div id="sidebar-region">-->

                            <!--</div>-->
                            <div class="line dk hidden-nav-xs"></div>
                        </nav>
                        <!-- / nav -->
                    </div>
                </section>
                <!--<footer class="footer hidden-xs no-padder text-center-nav-xs"> <a href="modal.lockme.html" data-toggle="ajaxModal" class="btn btn-icon icon-muted btn-inactive pull-right m-l-xs m-r-xs hidden-nav-xs"> <i class="i i-logout"></i> </a> <a href="#nav" data-toggle="class:nav-xs" class="btn btn-icon icon-muted btn-inactive m-l-xs m-r-xs"> <i class="i i-circleleft text"></i> <i class="i i-circleright text-active"></i> </a> </footer>-->
            </section>
        </aside>
        <section id="page-content-region"></section>



    </section>
    <div id="footer-region" class="container"></div>
</section>


        <!--<div id="content">-->
            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div id="sidebar-region" class="col-md-2">-->
                    <!--</div>-->
                    <!--&lt;!&ndash; Main content &ndash;&gt;-->
                    <!--<div id="page-content-region" class="col-md-10">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div> &lt;!&ndash; /container &ndash;&gt;-->
        <!--</div>-->


        <!--<div id="footer-region" class="container"></div>-->

