<div id="header-region" class="navbar navbar-default navbar-fixed-top"></div>

<div id="content">
    <div class="container">
        <div class="row">
            <div id="sidebar-region" class="col-md-2">
            </div>
            <!-- Main content -->
            <div id="page-content-region" class="col-md-10">
            </div>
        </div>
    </div> <!-- /container -->
</div>


<div id="footer-region" class="container"></div>