<!--<div id="header-region" class="navbar navbar-default navbar-fixed-top"></div>-->
<header class="bg-white header header-md navbar navbar-fixed-top-xs box-shadow" id="header-region"></header>

<section>
    <section class="hbox stretch">
        <aside class="bg-black aside-md hidden-print">
            <section class="vbox">
                <section class="w-f scrollable">
                    <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0"
                         data-size="10px" data-color="#333333">
                        <!-- nav -->
                        <nav class="nav-primary hidden-xs" id="sidebar-region">
                            <div class="line dk hidden-nav-xs"></div>
                        </nav>
                        <!-- / nav -->
                    </div>
                </section>
                <footer class="footer hidden-xs no-padder text-center-nav-xs" id="footer-region"></footer>
            </section>
        </aside>
        <section class="vbox">
            <section id="page-content-region" class="scrollable">
            </section>

        </section>
    </section>
    <!--<div id="footer-region" class="container"></div>-->
</section>
