<div id="content" style="padding-top: 40px">
    <div class="container">
        <!-- Main content -->
        <div>
            <div class="jumbotron">
                <div class="row">
                    <h1>Tracker<span class="beta">beta</span></h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9" style="padding: 10px">
                    <h3>Create quickly. Manage effortlessly.</h3>
                    <p>A hassle free way to create, manage and track your students.</p>
                </div>


                <div class="col-md-3" id="login-signup-form">
                    <div id="login">
                        <form class="form-horizontal" role="form" action="/login" method="post">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-default">Sign in</button>
                                </div>
                            </div>

                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer-region" class="container">
    <hr>
    <footer>
        <p>&copy; 2014 Emvento Technologies</p>

        <p>
            <small>Styles by <a href="http://twitter.github.com/bootstrap/index.html" target="_blank">Twitter Bootstrap</a> &middot; </small>
        </p>
    </footer>
</div>