<div class="col-md-12"
     style="margin-top: 20px; color: white;background-color: #1aae88;font-weight: bold;margin-bottom: 5px;">
    <span>Academic</span>
<span class="badge bg-primary" id="addEducationInfo" style="float: right">
        <a href="#" data-toggle="modal" data-target="#<%=modalId%>"><i class="fa fa-plus"></i> Education</a>
</span>
</div>
<div id="educationFields"></div>
    <!--<div class="col-md-12">-->
<!--<span class="badge bg-primary" id="addEducationInfo">-->
        <!--<a href="#" data-toggle="modal" data-target="#<%=modalId%>"><i class="fa fa-plus"></i> Add Education</a>-->
<!--</span>-->
    <!--</div>-->
