<span class="list-group-item clearfix">
            <span class="pull-left" style="width: 20px">
                <i class="<%=iconClass%>" style="color: <%=iconColor%>"></i>
            </span>
            <span class="clear">
                <span><%=comment%></span>
                <small class="text-muted clear text-ellipsis">
                    <i class="fa fa-clock-o"></i>
                    <%=added.name%>: <%=showFormattedDate(createdAt)%>
                </small>
            </span>
        </span>
