<!-- 
<span id="<%=totalFee%>">

  <td><%=service%></td>
  <td><%=totalFee%></td>
  <td>pay</td>
 -->





<!-- 
        <td><%=service%>: <%=totalFee%></td> -->
<!--         <a href="#" ><i class="i i-cancel display-none" style="color: #ff0000"></i></a>
</span> -->



<!-- <span id="<%=totalFee%>"> -->
        <td id="service">
            <%= service.name %>
        </td>
        <td id="totalFee">
             <%= showOnlyDate(enrollDate) %>
        </td>
        <td>
           <%= totalFee %>
        </td>
         <td>
             <%= totalPaid %>
        </td>
        <td>
             <%= due %>
         </td>
         <td>
<span class="badge bg-info" id="addPayment">
        <!--<a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Add Education</a>-->
        <a href="#" data-toggle="modal" data-target="#"><i class="fa fa-rupee"></i> Pay</a>
    </span>        </td>
<!-- </span> -->