<div class="modal fade" id="<%=modalId%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title panel-heading font-bold" id="myModalLabel">Enroll</h4>
            </div>
            <div class="modal-body">
                <!--<form class="bs-example form-horizontal" data-validate="parsley">-->
                <form class="bs-example form-horizontal">
                    
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Service</label>
                        <div class="col-lg-10 controls">
                            <select id="service" name="service" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Total Fee</label>
                        <div class="col-lg-10 controls">
                            <input name="totalFee" type="text" class="form-control" placeholder="50000">
                        </div>
                    </div>
                      <div class="form-group">
                        <label class="col-lg-2 control-label">Enroll Date</label>
                        <div class="col-lg-10 controls">
                            <div class="input-group date" id="enrollDateDiv">
                                <input name="enrollDate" type="text" class="form-control">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                 
                    <div class="modal-footer">
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>-->
                        <button type="submit" class="btn btn-success btn-s-xs" id="createEnrollment">Create</button>
                        <!--<input type="submit" class="btn btn-success btn-s-xs" id="createEducationInfo">Create</input>-->
                    </div>
                </form>
            </div>
            <!--<div class="modal-footer">-->
                <!--&lt;!&ndash;<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>&ndash;&gt;-->
                <!--<button type="submit" class="btn btn-success btn-s-xs">Create</button>-->
            <!--</div>-->
        </div>
    </div>
</div>
