
<div class="col-md-12"
     style="margin-top: 20px; color: white;background-color: #1aae88;font-weight: bold;margin-bottom: 5px;">
    <span>Enrollments</span>
    <span class="badge bg-primary" id="addEnroll" style="float: right">
            <a href="#" data-toggle="modal" data-target="#<%=modalId%>"><i class="fa fa-plus"></i>Enroll</a>
    </span>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Service</th>
            <th>Date</th>
            <th>Total (<i class="fa fa-rupee"></i>)</th>
            <th>Paid  (<i class="fa fa-rupee"></i>)</th>
            <th>Due  (<i class="fa fa-rupee"></i>)</th>
            <th></th>
        </tr>
    </thead>
<tbody id="enrollFields"></tbody>
</table>


<!--<span class="badge bg-primary" id="addEnroll">-->
        <!--<a href="#" data-toggle="modal" data-target="#<%=modalId%>"><i class="fa fa-plus"></i>Enroll</a>-->
    <!--</span>-->
