<div class="col-md-12" style="margin-top: 20px; color: white;background-color: #1aae88;font-weight: bold;margin-bottom: 5px;">
    <span>Parent Info</span>
</div>

<div class="h4 m-t m-b-xs font-bold text-lt col-md-12" style="margin-bottom: 10px">
    <a href="#" id="parentFirstName"></a>
    <a href="#" id="parentLastName"></a>
</div>

<div>
    <span class="col-md-6">
        <i class="fa fa-phone"> </i>
        <a href="#" id="parentPhoneNumber"></a>
    </span>
    <span class="col-md-6">
        <i class="i i-mail2"> </i>
        <a href="#" id="parentEmail"></a>
    </span>
</div>
