<header class="header bg-light lt b-b b-light"> <p class="h4 font-thin pull-left m-r m-b-sm">Student</p> <a class="btn btn-sm btn-info btn-rounded btn-icon"><i class="i i-cloud-upload"></i></a> <form method="post" class="m-t-sm pull-right pull-none-xs input-s-lg m-b-sm"> <div class="input-group"> <input type="text" id="address" name="address" class="input-sm form-control" placeholder="Search"> <span class="input-group-btn"> <button class="btn btn-sm btn-default" type="submit">Go!</button> </span> </div> </form> </header>
 <div class="tab-content" id="enqContent"></div>
<section class="hbox stretch">
    <aside class="aside-lg bg-light lter b-r">
        <section class="vbox">
            <div id="personal"></div>
            <div id="career"></div>
            <div id="academic"></div>
             <div id="enrollment"></div>
        </section>
    </aside>
    <aside class="col-md-4 b-l no-padder">
        <section class="vbox">
            <div id="admin"></div>
            <div id="history"></div>
        </section>
    </aside>
</section>

<!--<section style="border: solid 1px; height: 200px" class="vbox">-->
    <!--<section class="scrollable">-->
        <!--<section class="hbox stretch">-->
            <!--<aside class="aside-lg bg-light lter b-r">-->
                <!--<section class="vbox">-->
                    <!--<section class="scrollable">-->
                        <!--&lt;!&ndash;<span>Awesome left region</span>&ndash;&gt;-->
                        <!--<div id="institution"></div>-->
                        <!--<div id="career"></div>-->
                        <!--<div id="academic"></div>-->
                        <!--<div id="personal"></div>-->
                    <!--</section>-->
                <!--</section>-->
            <!--</aside>-->
            <!--<aside class="col-lg-4 b-l no-padder">-->
                <!--<section class="vbox">-->
                    <!--<section class="scrollable">-->
                        <!--<span>Awesome left region</span>-->
                    <!--</section>-->
                <!--</section>-->
            <!--</aside>-->
        <!--</section>-->
    <!--</section>-->
<!--</section>-->