
html {
    /*Always show vertical scroll-bar so as not to jump content when it appears or disappears*/
    /*overflow-y: scroll !important;*/
}

.navbar .beta {
    font-size: 0.5em;
    padding-left: 2px;
}

.beta {
    font-size: 0.3em;
    padding-left: 5px;
}

.wysihtml5 {
    text-align: justify;
}

div.wysihtml5 img {
    height: 200px;
    float: right;
    margin: 10px 0px 10px 10px;
}

.bulletHeader {
    font-size: 1.1em;
    font-weight: 700;
    /*padding: 5px 0;*/
}

.sectionHeader {
    font-size: 1.4em;
    font-weight: 700;
    padding: 5px 0;
}

h4 hr,h2 hr, .sectionHeader hr {
    margin: 5px 0;
    height: 8px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}

.sectionDiv {
    margin: 20px 0;
}

.ulNoBullet {
    list-style-type: none;
}

.over {
    border:1px solid #d3d3d3;
    cursor:pointer;
    /*margin-right: 11px !important;*/
}

.error, .error-message{
    color: #a94442;
}

.error .form-control {
    border-color: #a94442;
}

/*.datepicker {z-index: 1151 !important;}*/

/*Hover */
.basicBorder {
    border: solid 1px;
}

.rightBorder {
    border-right: solid 1px;
}

.primaryRightBtn {
    float: right;
}


/*Specific*/

.showSectionHeader {
    color: white;
    background-color: #1aae88;
    font-weight: bold;
    margin-bottom: 5px;
    /*border: solid 1px #ffff00;*/
}

.showSectionHeaderWithTopMargin {
    color: white;
    background-color: #1aae88;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
    /*border: solid 1px #ffff00;*/
}

.tableDiv {
	margin-bottom: 30px;
}

.autoPopulatePills {
	margin: 0px 3px 5px 0px;
	display: inline-block;
}

form.autoPopulatePillContainer {
	width: 206px;
}


.display-none {
	display: none;
}

.primaryRightBtn {
	text-align: right;
}

.encloseBox {
    border: 1px solid #ddd;
    border-radius: 4px 4px 4px 4px;
    box-shadow: none;
    width: 470px;
    margin-bottom: 20px;
    display: inline-block;
}

.encloseBoxTextArea {
    width: 100%;
    box-sizing: border-box;
}


.encloseBoxHeader {
    background-color: #dddddd;
    margin-bottom: 20px;
    padding: 10px 0 5px 10px;
    color: dimgrey;
}

.encloseBoxControls {
    margin: 0px 10px;
    /*margin-left: 20px;*/
}

.pill-container {
    margin-bottom: 20px;
}

.comment-container {
    margin-bottom: 10px;
}

.searchNav {
    color: #DD1144;
}

.searchSelect {
    cursor: pointer;
}


/*jGrowl theme*/

div.jGrowlSuccess {
    background: #27d4a8 !important;
    opacity: 1 !important;
}

div.jGrowlError {
    background: #e56371 !important;
    opacity: 1 !important;
}

/*Overwrite datatable empty class*/
.dataTables_empty {
    padding-left: .85em;
}
