<div class="col-md-12" style="margin-top: 20px; color: white;background-color: #1aae88;font-weight: bold;margin-bottom: 5px;">
    <span>Academic</span>
</div>
<div id="educationInfo"></div>
<!--<div id="addEducationInfo">-->
<span class="badge bg-primary" id="addEducationInfo">
        <!--<a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Add Education</a>-->
        <a href="#" data-toggle="modal" data-target="#<%=modalId%>"><i class="fa fa-plus"></i> Add Education</a>
    </span>
<!--</div>-->
