<div class="col-md-12" style="margin-top: 20px; color: white;background-color: #1aae88;font-weight: bold;margin-bottom: 5px;">
    <span>Academic</span>
</div>
<div>
    <span class="col-md-6">
        <span>Xth: </span>
        <a href="#" id="highSchoolScore"><%=highSchoolScore%></a>
    </span>

    <span class="col-md-6">
        <span>XIIth: </span>
        <a href="#" id="seniorSecondaryScore"><%=seniorSecondaryScore%></a>
    </span>
</div>

<div>
    <span class="col-md-6">
        <span>Grad: </span>
        <a href="#" id="graduationScore"><%=graduationScore%></a>
    </span>

    <span class="col-md-6">
        <span>SAT: </span>
        <a href="#" id="satScore"><%=satScore%></a>
    </span>
</div>

<div>
    <span class="col-md-6">
        <span>TOEFL: </span>
        <a href="#" id="toeflScore"><%=toeflScore%></a>
    </span>

    <span class="col-md-6">
        <span>IELTS: </span>
        <a href="#" id="ieltsScore"><%=ieltsScore%></a>
    </span>
</div>
<div>
    <span class="col-md-6">
        <span>GRE: </span>
        <a href="#" id="greScore"><%=greScore%></a>
    </span>

    <span class="col-md-6">
        <span>GMAT: </span>
        <a href="#" id="gmatScore"><%=gmatScore%></a>
    </span>
</div>
<!--<div>-->
    <!--<span class="col-md-6">-->
        <!--<span>Xth: </span>-->
        <!--<a href="#" id="program"><%=program%></a>-->
    <!--</span>-->

    <!--<span class="col-md-6">-->
        <!--<span>XIIth: </span>-->
        <!--<a href="#" id="intake"><%=intake%></a>-->
    <!--</span>-->
<!--</div>-->
<!--<div>-->
    <!--<span class="col-md-6">-->
        <!--<span>Xth: </span>-->
        <!--<a href="#" id="source"><%=source%></a>-->
    <!--</span>-->

    <!--<span class="col-md-6">-->
        <!--<span>XIIth: </span>-->
        <!--<a href="#" id="followUp"><%=followUp%></a>-->
    <!--</span>-->
<!--</div>-->
