<div class="col-md-12"
     style="margin-top: 20px; color: white;background-color: #1aae88;font-weight: bold;margin-bottom: 5px;">
    <span>Academic</span>
</div>
<div id="educationInfo"></div>
<!--<div id="addEducationInfo">-->
<span class="badge bg-primary" id="addEducationInfo">
        <!--<a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Add Education</a>-->
        <a href="#" data-toggle="modal" data-target="#<%=modalId%>"><i class="fa fa-plus"></i> Add Education</a>
    </span>
<!--</div>-->


<!--<form id="registration_form" action="" method="post" class="form-horizontal" data-validate="parsley">-->
    <!--&lt;!&ndash; Personal &ndash;&gt;-->
    <!--<div class="control-group">-->
        <!--<label class="control-label" for="firstname">First Name:</label>-->
        <!--<div class="controls">-->
            <!--<input type="text" name="firstname" data-required="true" data-trigger="change" placeholder="First Name" />-->
        <!--</div>-->
        <!--<label class="control-label" for="birthdate">Email:</label>-->
        <!--<div class="controls">-->
            <!--<input type="email" name="birthdate" data-required="true" data-trigger="change" placeholder="a@a.com" />-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; Contact &ndash;&gt;-->
    <!--<div class="control-group">-->
        <!--<button id="createBtn" type="submit" class="btn">Submit</button>-->
    <!--</div>-->
<!--</form>-->