<div class="col-md-12" style="color: white;background-color: #1aae88;font-weight: bold;margin-bottom: 5px;">
    <span>Admin</span>
</div>
<div>

    <span class="col-md-6">
        <span>Follow Up: </span>
        <a href="#" id="followUp"></a>
    </span>
    <span class="col-md-6">
        <span>Status: </span>
        <a href="#" id="enquiryStatus"></a>
    </span>
</div>
<div>
    <span class="col-md-12">
        <span>Assigned To: </span>
        <a href="#" id="staff"></a>
    </span>

    <span class="col-md-12">
        <span>Remarks: </span>
        <a href="#" id="remarks"></a>
    </span>
    <!--<span class="col-md-12">-->
        <!--<span>Remarks: </span>-->
        <!--<a href="#" id="remarks"></a>-->
    <!--</span>-->
</div>
