<div class="col-md-12" style="color: white;background-color: #1aae88;font-weight: bold;margin-bottom: 5px;">
    <span>Admin</span>
</div>
<div>

    <!--<span class="col-md-6">-->
    <span class="col-md-12">
        <span>Follow Up: </span>
        <a href="#" id="followUp"></a>
    </span>
    <!--<span class="col-md-6">-->
    <span class="col-md-12">
        <span>Status: </span>
        <a href="#" id="enquiryStatus"></a>
    </span>
    <span class="col-md-12">
        <span>Assigned To: </span>
        <a href="#" id="staff"></a>
    </span>

    <span class="col-md-12">
        <span>Source: </span>
        <a href="#" id="source"></a>
    </span>

    <span class="col-md-12">
    <!--<span>-->
        <span>Remarks: </span>
        <!--<label class="col-md-2">Remarks: </label>-->
        <!--<div class="col-md-10">-->
            <a href="#" id="remarks"></a>
        <!--</div>-->
    </span>
</div>
