<div class="col-md-12" style="margin-top: 20px; color: white;background-color: #1aae88;font-weight: bold;margin-bottom: 5px;">
    <span>Career</span>
</div>
<div>
    <span class="col-md-12">
        <span>Countries: </span>
        <a href="#" id="countries"></a>
    </span>

    <span class="col-md-12">
        <span>Services: </span>
        <a href="#" id="services"></a>
    </span>
</div>

<div>
    <span class="col-md-6">
        <span>Program: </span>
        <!--<a href="#" id="program"><%=program%></a>-->
        <a href="#" id="program"></a>
    </span>

    <span class="col-md-6">
        <span>Intake: </span>
        <a href="#" id="intake"></a>
    </span>
</div>

<!--<div>-->
    <!--<span class="col-md-6">-->
        <!--<span>TOEFL: </span>-->
        <!--<a href="#" id="toeflScore"><%=toeflScore%></a>-->
    <!--</span>-->

    <!--<span class="col-md-6">-->
        <!--<span>IELTS: </span>-->
        <!--<a href="#" id="ieltsScore"><%=ieltsScore%></a>-->
    <!--</span>-->
<!--</div>-->
<!--<div>-->
    <!--<span class="col-md-6">-->
        <!--<span>GRE: </span>-->
        <!--<a href="#" id="greScore"><%=greScore%></a>-->
    <!--</span>-->

    <!--<span class="col-md-6">-->
        <!--<span>GMAT: </span>-->
        <!--<a href="#" id="gmatScore"><%=gmatScore%></a>-->
    <!--</span>-->
<!--</div>-->