 <div class="col-md-12"
     style="margin-top: 20px; color: white;background-color: #1aae88;font-weight: bold;margin-bottom: 5px;">
    <span>History</span>
</div>

<section class="panel b-a">
    <div class="clearfix panel-footer">
        <form>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Input your comment here" name="commentText">
                <span class="input-group-btn"> <button class="btn btn-primary" type="button" id="addComment">POST
                </button> </span>
            </div>
        </form>
    </div>
    <table class="list-group list-group-lg no-bg auto" id="historyTable" style="margin: 5px">
        <thead style="display: none">
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="historySection" style="vertical-align: top; margin: 5px">
        </tbody>
    </table>
</section>
