<div class="col-md-12"
     style="margin-top: 20px; color: white;background-color: #1aae88;font-weight: bold;margin-bottom: 5px;">
    <span>History</span>
</div>

<section class="col-md-12">
    <form action="" class="m-b-none">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Input your comment here" name="commentText">
            <span class="input-group-btn"> <button class="btn btn-primary" type="button" id="addComment">POST</button> </span>
        </div>
    </form>
</section>
<!--<div class="col-md-12">-->
    <!--<span>Comment: </span>-->
    <!--<a href="#" id="comment"></a>-->
<!--</div>-->

<div class="col-md-12" id="historySection">
</div>