<section style="border: solid 1px; height: 600px" class="vbox">
    <section class="scrollable">
        <section class="hbox stretch">
            <aside class="aside-lg bg-light lter b-r">
                <section class="vbox">
                    <section class="scrollable">
                        <span>Awesome left region</span>
                    </section>
                </section>
            </aside>
            <aside class="col-lg-4 b-l no-padder">
                <section class="vbox">
                    <section class="scrollable">
                        <span>Awesome left region</span>
                    </section>
                </section>
            </aside>
        </section>
    </section>
</section>