<section class="panel panel-default">
    <header class="panel-heading text-right bg-light">
        <section id="enqTabs"></section>
        <!--<span class="badge bg-primary">-->
            <!--<a href="#">-->
                <!--<i class="fa fa-plus"></i> New Enquiry-->
            <!--</a>-->
        <!--</span>-->
    </header>
    <div class="panel-body">
        <div class="tab-content" id="enqContent">

        </div>
    </div>
    <!--<div id="enqShow">-->

    <!--</div>-->

</section>


<!--<div style="margin-top: 5px;">-->
<!--<section id="enqTabs" class="col-md-10"></section>-->
<!--<section class="col-md-2" style="margin-top: 5px;">-->
<!--<a href="#" class="btn btn-primary btn-sm btn-rounded m-b-xs">-->
<!--<i class="fa fa-plus"></i> New Enquiry</a>-->
<!--</section>-->

<!--</div>-->
<!--<div id="enqContent"></div>-->