<div class="modal fade" id="<%=modalId%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
<!--<div class="modal fade" id="<%=modalId%>" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">-->

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <!--<h4 class="modal-title panel-heading font-bold" id="myModalLabel">Add/Edit Class</h4>-->
                <h4 class="modal-title panel-heading font-bold" id="myModalLabel"><%=formHeader%></h4>
            </div>
            <div class="modal-body">
                <form class="bs-example form-horizontal">
                    <!--<div class="form-group">-->
                        <!--<label class="col-lg-2 control-label">Name</label>-->
                        <!--<div class="col-lg-10 controls">-->
                            <!--<input name="name" type="text" class="form-control" placeholder="IELTS_NHS">-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Topic</label>
                        <div class="col-lg-10 controls">
                            <select id="topic" name="topic" class="form-control"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Date/Time</label>
                        <div class="col-lg-10 controls">
                            <div class="input-group date" id="dateDiv">
                                <input name="date" type="text" class="form-control">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <!--<div class="form-group">-->
                        <!--<label class="col-lg-2 control-label">Time</label>-->
                        <!--<div class="col-lg-10 controls">-->
                            <!--<div class="input-group date" id="timeDiv">-->
                                <!--<input name="time" type="text" class="form-control">-->
                                <!--<span class="input-group-addon">-->
                                    <!--<span class="glyphicon glyphicon-calendar"></span>-->
                                <!--</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Assigned To</label>
                        <div class="col-lg-10 controls">
                            <select id="staff" name="staff" class="form-control"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Description</label>
                        <div class="col-lg-10 controls">
                            <textarea name="description" class="form-control" placeholder="Details..."></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!--<button type="submit" class="btn btn-success btn-s-xs" id="createNewClass">Create</button>-->
                        <button type="submit" class="btn btn-success btn-s-xs" id="createNewClass"><%=formBtnText%></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
