

<div class="h4 m-t m-b-xs font-bold text-lt col-md-12" style="margin-bottom: 10px">
    <a href="#" id="name"></a>
    <span id="deleteBatch" style="float: right">
        <a href="#" class="btn btn-danger btn-xs btn-rounded" data-toggle="modal" data-target="#deleteBatchModal">
            <i class="fa fa-times"></i> Delete
        </a>
    </span>
</div>

<div>
    <span class="col-md-6">
        <span>Service: </span>
        <a href="#" id="service"></a>
    </span>

    <span class="col-md-6">
        <span>Type: </span>
        <a href="#" id="type"></a>
    </span>
</div>

<div>
    <span class="col-md-12">
        <span>Starts On: </span>
        <a href="#" id="startDate"></a>
    </span>

    <span class="col-md-12">
        <span>Ends on: </span>
        <a href="#" id="endDate"></a>
    </span>
</div>