<div class="col-md-12" style="margin-top: 20px; color: white;background-color: #1aae88;font-weight: bold;margin-bottom: 5px;">
    <span>Students</span>
</div>
<!--<div>-->
    <!--<span class="col-md-12">-->
        <!--<span>Countries: </span>-->
        <!--<a href="#" id="countries"></a>-->
    <!--</span>-->

    <!--<span class="col-md-12">-->
        <!--<span>Services: </span>-->
        <!--<a href="#" id="services"></a>-->
    <!--</span>-->
<!--</div>-->

<!--<div>-->
    <!--<span class="col-md-6">-->
        <!--<span>Intake: </span>-->
        <!--<a href="#" id="intake"></a>-->
    <!--</span>-->

    <!--<span class="col-md-6">-->
        <!--<span>Intake Year: </span>-->
        <!--<a href="#" id="intakeYear"></a>-->
    <!--</span>-->
<!--</div>-->