<section class="panel panel-default">
        <header class="panel-heading text-right bg-light">
            <section class="hbox">
                <section id="tabs"></section>
                <section style="float:right;" id="addButton"></section>
            </section>
        </header>

    <section class="panel-body">
        <div class="tab-content" id="content"></div>
    </section>
</section>

<!--<section class="panel panel-default">-->
        <!--<header class="panel-heading text-right bg-light" id="tabs"></header>-->
        <!--&lt;!&ndash;<section class="col-md-2" style="margin-top: 5px;">&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="#" class="btn btn-primary btn-sm btn-rounded m-b-xs">&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="fa fa-plus"></i> New Batch</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</section>&ndash;&gt;-->

    <!--<section class="panel-body">-->
        <!--<div class="tab-content" id="content"></div>-->
    <!--</section>-->
<!--</section>-->


<!--<div style="margin-top: 5px;">-->
<!--<section id="tabs" class="col-md-10"></section>-->
<!--<section class="col-md-2" style="margin-top: 5px;">-->
<!--<a href="#" class="btn btn-primary btn-sm btn-rounded m-b-xs">-->
<!--<i class="fa fa-plus"></i> New Batch</a>-->
<!--</section>-->

<!--</div>-->
<!--<div id="content"></div>-->