<div class="col-md-12"
     style="margin-top: 20px; color: white;background-color: #1aae88;font-weight: bold;margin-bottom: 5px;">
    <span>Admin</span>
</div>
<a href="#" id="createTopicBtn" class="btn btn-xs btn-primary btn-rounded" style="margin-bottom: 5px;">
    <i class="fa fa-plus"></i> Topic</a><br>

<a href="#" id="createCountryBtn" class="btn btn-xs btn-primary btn-rounded" style="margin-bottom: 5px;">
    <i class="fa fa-plus"></i> Country</a><br>

<!--<div id="addTopic"></div>-->
<!--<div id="addSchool"></div>-->
<!--<div id="addCountry"></div>-->