<div class="modal fade" id="<%=modalId%>" tabindex="-1" role="dialog" aria-labelledby="Change Password" aria-hidden="true" data-backdrop="false">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title panel-heading font-bold" id="myModalLabel">Change Password</h4>
            </div>
            <div class="modal-body">
                <form class="bs-example form-horizontal">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Current Password</label>
                        <div class="col-md-6 controls">
                            <input name="currentPassword" type="password" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">New Password</label>
                        <div class="col-md-6 controls">
                            <input name="newPassword" type="password" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Confirm Password</label>
                        <div class="col-md-6 controls">
                            <input name="confirmPassword" type="password" class="form-control">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success btn-s-xs" id="update">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>







<!--<a href="#" id="changePasswordBtn">Change password</a><br>-->
<!--<div class="well display-none" id="changePasswordContainer">-->
    <!--<form class="form-horizontal">-->
        <!--<div class="control-group">-->
            <!--<label class="control-label" for="password">New Password</label>-->
            <!--<div class="controls">-->
                <!--<input type="password" id="password" name="password">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="control-group">-->
            <!--<label class="control-label" for="confirmPassword">Confirm Password</label>-->
            <!--<div class="controls">-->
                <!--<input type="password" id="confirmPassword" name="confirmPassword">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="control-group">-->
            <!--<div class="controls">-->
                <!--<button type="submit" class="btn btn-primary" id="changePassword">Save</button>-->
                <!--<button type="submit" class="btn" id="cancelBtn">Cancel</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->