<a href="#" id="createSchoolBtn">Add new school</a><br>
<div class="well display-none" id="createSchoolContainer">
    <form class="form-horizontal">
        <legend>Add School</legend>
        <div class="control-group">
            <label class="control-label" for="title">Title</label>

            <div class="controls">
                <input type="text" id="title" name="title" placeholder="DPS RKPuram">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="website">Website</label>

            <div class="controls">
                <input type="text" id="website" name="website" placeholder="http://www.dpsrkp.net/">
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button id="createSchool" type="submit" class="btn btn-success">Create</button>
                <button type="submit" class="btn" id="cancelBtn">Cancel</button>
            </div>
        </div>
    </form>
</div>