<a href="#" id="createCountryBtn">Add new country</a><br>
<div class="well display-none" id="createCountryContainer">
    <form class="form-horizontal">
        <legend>Add Country</legend>
        <div class="control-group">
            <label class="control-label" for="title">Title</label>

            <div class="controls">
                <input type="text" id="title" name="title" placeholder="DPS RKPuram">
            </div>
        </div>
        <!--<div class="control-group">-->
            <!--<label class="control-label" for="website">Website</label>-->

            <!--<div class="controls">-->
                <!--<input type="text" id="website" name="website" placeholder="http://www.dpsrkp.net/">-->
            <!--</div>-->
        <!--</div>-->

        <div class="control-group">
            <div class="controls">
                <button id="createCountry" type="submit" class="btn btn-success">Create</button>
                <button type="submit" class="btn" id="cancelBtn">Cancel</button>
            </div>
        </div>
    </form>
</div>