<a href="#" id="createAdminBtn">Create new admin</a><br>
<div class="well display-none" id="createAdminContainer">
    <form id="signupForm" class="form-horizontal">
        <legend>New Admin</legend>
        <div class="control-group">
            <label class="control-label">First Name</label>

            <div class="controls">
                <div class="input-prepend">
                    <input type="text" class="input-xlarge" id="firstName" name="firstName" placeholder="First Name">
                </div>
            </div>
        </div>
        <div class="control-group ">
            <label class="control-label">Last Name</label>

            <div class="controls">
                <div class="input-prepend">
                    <input type="text" class="input-xlarge" id="lastName" name="lastName" placeholder="Last Name">
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Email</label>

            <div class="controls">
                <div class="input-prepend">
                    <input type="text" class="input-xlarge" id="email" name="email" placeholder="Email">
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Password</label>

            <div class="controls">
                <div class="input-prepend">
                    <input type="Password" id="password" class="input-xlarge" name="password" placeholder="Password">
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Confirm Password</label>

            <div class="controls">
                <div class="input-prepend">
                    <input type="Password" id="confirmPassword" class="input-xlarge" name="confirmPassword"
                           placeholder="Re-enter Password">
                </div>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label"></label>

            <div class="controls">
                <button id="createAdmin" type="submit" class="btn btn-success">create</button>
                <button type="submit" class="btn" id="cancelBtn">Cancel</button>
            </div>

        </div>

    </form>
</div>