<!--<div class="thumb-lg avatar">-->
    <!--<img src="images/a5.png" class="dker">-->
<!--</div>-->

<div class="h4 m-t m-b-xs font-bold text-lt col-md-12" style="margin-bottom: 10px">
    <a href="#" id="firstName"></a>
    <a href="#" id="lastName"></a>
</div>

<div>
    <span class="col-md-6">
        <i class="fa fa-phone"> </i>
        <a href="#" id="phoneNumber"></a>
    </span>
    <span class="col-md-6">
        <i class="i i-mail2"> </i>
        <a href="#" id="email"></a>
    </span>
</div>

<div>
    <span class="col-md-12">
        <i class="fa fa-home"> </i>
        <a href="#" id="address"></a>
    </span>
    <span class="col-md-12" style="margin-top: 10px">
        <a href="#" id="changePasswordBtn" class="btn btn-sm btn-primary btn-rounded">Change Password</a>
    </span>
</div>
