<section class="panel panel-default">
    <header class="panel-heading text-right bg-light" id="settingTabs"> </header>

    <div class="panel-body">
        <div class="tab-content" id="settingContent"></div>
        <div id="adminSection">
            <!--<div class="col-md-12"-->
                 <!--style="margin-top: 20px; color: white;background-color: #1aae88;font-weight: bold;margin-bottom: 5px;">-->
                <!--<span>Admin</span>-->
            <!--</div>-->
        </div>
    </div>
</section>



<!--<div id="page-header">-->
    <!--<div id="header" class="page-title">Settings</div>-->
<!--</div>-->
<!--<div id="profileSection"></div>-->
<!--<div id="changePasswordSection"></div>-->
